.contact .wrapper
{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contact .tile
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  background-color: #E6E6E6;
  color: #999999;
}

#c1
{
  background-color: #CCCCCC;
  color: #333333;
}

#c2
{
  background-color: #0066CC;
  color: #FFFFFF;
}

#c3
{
  background-color: #003399;
  color: #FFFFFF;
}

.contact .tile h2
{
  text-transform: uppercase;
  font-size: 3.6vh;
  font-weight: 500;
}

.contact .tile h3
{
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.5vh;
}

.contact .tile p
{
  margin: 0;
  margin-top: 3vh;
  font-size: 2.1vh;
  line-height: 3.4vh;
}

.contact .text
{
  text-align: center;
}

@media (min-width: 576px) {
  .contact .wrapper
  {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .contact .tile
  {
    height: 50vh;
  }

  .contact .tile h2
  {
    font-size: 4.8vh;
  }

  .contact .tile h3
  {
    font-size: 2.7vh;
  }

  .contact .tile p
  {
    margin-top: 5vh;
    line-height: 3.6vh;
    font-size: 2.4vh;
  }
}

@media (min-width: 768px) {
  .contact .tile
  {
    height: 50vh;
  }

  .contact .tile h2
  {
    font-size: 6.4vh;
  }

  .contact .tile h3
  {
    font-size: 3vh;
  }

  .contact .tile p
  {
    margin-top: 7vh;
    line-height: 4vh;
    font-size: 2.74vh;
  }
}

@media (min-width: 992px) {
  .contact .tile
  {
    height: 50vh;
  }

  .contact .tile h2
  {
    font-size: 9vh;
  }

  .contact .tile h3
  {
    font-size: 3.6vh;
  }

  .contact .tile p
  {
    margin-top: 7vh;
    line-height: 4vh;
    font-size: 2.9vh;
  }
}

@media (min-width: 1200px) {
  .contact .tile
  {
    height: 50vh;
  }

  .contact .tile h2
  {
    font-size: 10vh;
  }

  .contact .tile h3
  {
    font-size: 4.2vh;
  }

  .contact .tile p
  {
    margin-top: 7vh;
    line-height: 4.8vh;
    font-size: 2.9vh;
  }
}
